In [1]:
import yfinance
import nasdaqdatalink
import intrinio_sdk
import pandas as pd 

import apikey

## yfinance

In [2]:
data = yfinance.download('AAPL')

[*********************100%***********************]  1 of 1 completed

In [3]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-14,167.369995,169.580002,166.559998,168.880005,168.880005,86062800
2022-02-15,170.970001,172.949997,170.250000,172.789993,172.789993,64286300
2022-02-16,171.850006,173.339996,170.050003,172.550003,172.550003,61177400
2022-02-17,171.029999,171.910004,168.470001,168.880005,168.880005,69589300
2022-02-18,169.820007,170.539993,166.190002,167.300003,167.300003,82614200

## Nasdaq Data Link

In [4]:
nasdaqdatalink.ApiConfig.api_key = apikey.nasdaq_data_link_api_key

In [5]:
data = nasdaqdatalink.get('WIKI/AAPL')

In [6]:
data.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0

## Intrinio

In [7]:
intrinio_sdk.ApiClient().configuration.api_key['api_key'] = apikey.intrinio_api_key
security_api = intrinio_sdk.SecurityApi()

In [8]:
r = security_api.get_security_stock_prices(identifier='AAPL')

In [9]:
data = [x.to_dict() for x in r.stock_prices]
data = pd.DataFrame(data).sort_values('date')
data.set_index('date', inplace=True)

In [10]:
data.tail()

,intraperiod,frequency,open,high,low,close,volume,adj_open,adj_high,adj_low,adj_close,adj_volume,factor,split_ratio,dividend,change,percent_change,fifty_two_week_high,fifty_two_week_low
date,,,,,,,,,,,,,,,,,,,
2021-08-03,False,daily,145.81,148.045,145.18,147.36,64786618.0,145.591870,147.823526,144.962812,147.139551,64786618.0,1.000000,1.0,0.00,1.84,0.0126,149.78,102.44
2021-08-04,False,daily,147.27,147.790,146.28,146.95,56368271.0,147.049686,147.568908,146.061167,146.730165,56368271.0,1.000000,1.0,0.00,-0.41,-0.0028,149.78,102.44
2021-08-05,False,daily,146.98,147.840,146.17,147.06,46397674.0,146.760120,147.618833,145.951331,146.840000,46397674.0,1.000000,1.0,0.00,0.11,0.0007,149.78,102.44
2021-08-06,False,daily,146.35,147.110,145.63,146.14,54126813.0,146.350000,147.110000,145.630000,146.140000,54126813.0,0.998504,1.0,0.22,-0.70,-0.0048,149.78,102.44
2021-08-09,False,daily,146.20,146.700,145.52,146.09,48815544.0,146.200000,146.700000,145.520000,146.090000,48815544.0,1.000000,1.0,0.00,-0.05,-0.0003,149.78,102.44