In [1]:
import investpy

# Historical Stocks data

In [2]:
data = investpy.get_stock_historical_data(stock='AAPL',
                                          country='United States',
                                          from_date='01/01/2020',
                                          to_date='01/05/2022',
                                          interval='Daily')

In [3]:
data

              Open    High     Low   Close     Volume Currency
Date
2020-01-02   74.06   75.15   73.80   75.09  135647008      USD
2020-01-03   74.29   75.14   74.13   74.36  146536000      USD
2020-01-06   73.45   74.99   73.19   74.95  118579000      USD
2020-01-07   74.96   75.22   74.37   74.60  111511000      USD
2020-01-08   74.29   76.11   74.29   75.80  132364000      USD
...            ...     ...     ...     ...        ...      ...
2022-04-20  168.76  168.88  166.10  167.23   67718000      USD
2022-04-21  168.91  171.53  165.91  166.42   86933000      USD
2022-04-22  166.46  167.87  161.50  161.79   84882000      USD
2022-04-25  161.12  163.17  158.46  162.88   95356000      USD
2022-04-26  162.08  162.19  156.78  156.80   93522152      USD

[584 rows x 6 columns]

# Search Quotes

In [4]:
search_res = investpy.search_quotes(text='apple', 
                                    products=['stocks'],
                                    countries=['United States'],
                                    n_results=5)
for res in search_res:
    print(res)
    print('-'*50)

{"id_": 6408, "name": "Apple Inc", "symbol": "AAPL", "country": "united states", "tag": "/equities/apple-computer-inc", "pair_type": "stocks", "exchange": "NASDAQ"}
--------------------------------------------------
{"id_": 959642, "name": "Apple Hospitality REIT Inc", "symbol": "APLE", "country": "united states", "tag": "/equities/apple-hospitality-reit-inc", "pair_type": "stocks", "exchange": "NYSE"}
--------------------------------------------------
{"id_": 51484, "name": "Apple Rush Company", "symbol": "APRU", "country": "united states", "tag": "/equities/apple-rush-company", "pair_type": "stocks", "exchange": "OTC Markets"}
--------------------------------------------------

In [5]:
search_res[0].symbol

'AAPL'

In [6]:
search_res[0].retrieve_currency()

'USD'

In [7]:
search_res[0].retrieve_information()

{'prevClose': 162.88,
 'dailyRange': '156.72-162.34',
 'revenue': 378320000000,
 'open': 162.25,
 'weekRange': '122.25-182.94',
 'eps': 6.02,
 'volume': 93522151,
 'marketCap': 2560000000000,
 'dividend': '0.88(0.56%)',
 'avgVolume': 88230107,
 'ratio': 27.04,
 'beta': 1.2,
 'oneYearReturn': '16.39%',
 'sharesOutstanding': 16319441000,
 'nextEarningDate': '28/04/2022'}

In [8]:
search_res[0].retrieve_technical_indicators(interval='daily')

              indicator           signal     value
0               RSI(14)             sell   35.0410
1            STOCH(9,6)             sell   44.4430
2          STOCHRSI(14)         oversold    0.0000
3           MACD(12,26)             sell   -1.5200
4               ADX(14)             sell   27.1430
5           Williams %R         oversold  -99.1100
6               CCI(14)         oversold -224.7175
7               ATR(14)  high_volatility    4.5077
8        Highs/Lows(14)             sell   -8.0243
9   Ultimate Oscillator             sell   37.7290
10                  ROC             sell  -10.3560
11  Bull/Bear Power(13)             sell  -12.3760

In [9]:
search_res[0].retrieve_recent_data()

              Open    High     Low   Close     Volume  Change Pct
Date
2022-03-28  172.17  175.73  172.00  175.60   90069000        0.50
2022-03-29  176.69  179.01  176.34  178.96   97884000        1.91
2022-03-30  178.55  179.61  176.70  177.77   89593000       -0.66
2022-03-31  177.84  178.03  174.40  174.61  100133000       -1.78
2022-04-01  174.03  174.88  171.94  174.31   78751000       -0.17
2022-04-04  174.57  178.49  174.44  178.44   76205000        2.37
2022-04-05  177.50  178.30  174.41  175.06   70903000       -1.89
2022-04-06  172.36  173.63  170.13  171.83   88671000       -1.85
2022-04-07  171.16  173.36  169.85  172.14   74945000        0.18
2022-04-08  171.78  171.78  169.20  170.09   76576000       -1.19
2022-04-11  168.71  169.03  165.50  165.75   71545000       -2.55
2022-04-12  168.02  169.87  166.64  167.66   78987000        1.15
2022-04-13  167.39  171.04  166.77  170.40   70185000        1.63
2022-04-14  170.62  171.27  165.04  165.29   75329000       -3.00
2022-04-18  163.92  166.60  163.57  165.07   67372000       -0.13
2022-04-19  165.02  167.82  163.91  167.40   67423000        1.41
2022-04-20  168.76  168.88  166.10  167.23   67718000       -0.10
2022-04-21  168.91  171.53  165.91  166.42   86933000       -0.48
2022-04-22  166.46  167.87  161.50  161.79   84882000       -2.78
2022-04-25  161.12  163.17  158.46  162.88   95356000        0.67
2022-04-26  162.08  162.19  156.78  156.80   93522152       -3.73

In [10]:
search_res[0].retrieve_historical_data(from_date='01/01/2022', to_date='01/05/2022')

              Open    High     Low   Close    Volume  Change Pct
Date
2022-01-03  177.83  182.88  177.71  182.01  96492000        2.50
2022-01-04  182.63  182.94  179.12  179.70  92664000       -1.27
2022-01-05  179.61  180.17  174.64  174.92  93485000       -2.66
2022-01-06  172.70  175.30  171.64  172.00  95415000       -1.67
2022-01-07  172.89  174.14  171.03  172.17  86709000        0.10
...            ...     ...     ...     ...       ...         ...
2022-04-20  168.76  168.88  166.10  167.23  67718000       -0.10
2022-04-21  168.91  171.53  165.91  166.42  86933000       -0.48
2022-04-22  166.46  167.87  161.50  161.79  84882000       -2.78
2022-04-25  161.12  163.17  158.46  162.88  95356000        0.67
2022-04-26  162.08  162.19  156.78  156.80  93522152       -3.73

[79 rows x 6 columns]

# Historical Crypto data

In [11]:
btc = investpy.get_crypto_historical_data(crypto='bitcoin',
                                          from_date='01/01/2020',
                                          to_date='01/05/2022',
                                          interval='daily')

In [12]:
btc

               Open     High      Low    Close     Volume Currency
Date
2020-01-01   7196.4   7259.4   7180.0   7199.8     420278      USD
2020-01-02   7199.7   7209.6   6901.4   6967.0     632778      USD
2020-01-03   6967.1   7402.9   6884.1   7343.1     936288      USD
2020-01-04   7345.1   7433.1   7291.4   7376.8     523909      USD
2020-01-05   7376.8   7501.0   7345.6   7372.5     628142      USD
...             ...      ...      ...      ...        ...      ...
2022-04-23  39709.0  39973.0  39291.0  39418.0  190599328      USD
2022-04-24  39434.0  39929.0  39033.0  39464.0  283628288      USD
2022-04-25  39464.0  40599.0  38233.0  40427.0  654604288      USD
2022-04-26  40443.0  40770.0  37708.0  38113.0  681468672      USD
2022-04-27  38113.0  38399.0  37869.0  38390.0  663156288      USD

[848 rows x 6 columns]