In [1]:
import QuantLib as ql

## Date

In [2]:
# Date(day, month, year)

date = ql.Date(31, 3, 2022)
print(date)

March 31st, 2022

In [3]:
print(f"{date.month()}-{date.dayOfMonth()}-{date.year()}")

3-31-2022

In [4]:
date.weekday()

5

In [5]:
ql.Tuesday

3

In [6]:
date.weekday() == ql.Tuesday

False

In [7]:
print(f'Date:           {date}')
print(f"Add a day:      {date + 1}")
print(f"Subtract a day: {date - 1}")
print(f"Add a week:     {date + ql.Period(1, ql.Weeks)}")
print(f"Add a month:    {date + ql.Period(1, ql.Months)}")
print(f"Add a year      {date + ql.Period(1, ql.Years)}")

Date:           March 31st, 2022
Add a day:      April 1st, 2022
Subtract a day: March 30th, 2022
Add a week:     April 7th, 2022
Add a month:    April 30th, 2022
Add a year      March 31st, 2023

In [8]:
date > ql.Date(1, 5, 2020)

True

## Calendar

In [9]:
date = ql.Date(12, ql.January, 2021)
us_calendar = ql.UnitedStates()
th_calendar = ql.Thailand()

In [10]:
period = ql.Period(60, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
th_date = th_calendar.advance(date, period)

In [11]:
print(f"Date:                             {date}")
print(f"Add 60 days:                      {raw_date}")
print(f"Add 60 business days in US:       {us_date}")
print(f"Add 60 business days in Thailand: {th_date}")

Date:                             January 12th, 2021
Add 60 days:                      March 13th, 2021
Add 60 business days in US:       April 8th, 2021
Add 60 business days in Thailand: April 7th, 2021

In [12]:
us_busdays = us_calendar.businessDaysBetween(date, us_date)
th_busdays = th_calendar.businessDaysBetween(date, th_date)

print(f"Business days in US:       {us_busdays}")
print(f"Business days in Thailand: {th_busdays}")

Business days in US:       60
Business days in Thailand: 60

In [13]:
# combine two calendars holidays

joint_calendar = ql.JointCalendar(us_calendar, th_calendar)
joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)

print(f"Add 60 business days in US-Thailand: {joint_date}")
print(f"Business days in US-Thailand:        {joint_busdays}")

Add 60 business days in US-Thailand: April 9th, 2021
Business days in US-Thailand:        60

## Schedule

In [14]:
effective_date = ql.Date(1, 1, 2022)
termination_date = ql.Date(1, 1, 2023)
tenor = ql.Period(ql.Monthly)
calendar = ql.UnitedStates()
business_convention = ql.Following
termination_business_convention = ql.Following
date_generation = ql.DateGeneration.Forward
end_of_month = False

schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       date_generation,
                       end_of_month)

In [15]:
for i, d in enumerate(list(schedule)):
    print(i, d)

0 January 3rd, 2022
1 February 1st, 2022
2 March 1st, 2022
3 April 1st, 2022
4 May 2nd, 2022
5 June 1st, 2022
6 July 1st, 2022
7 August 1st, 2022
8 September 1st, 2022
9 October 3rd, 2022
10 November 1st, 2022
11 December 1st, 2022
12 January 3rd, 2023

In [16]:
first_date = ql.Date(15, 1, 2022)

schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       ql.DateGeneration.Backward,
                       end_of_month,
                       first_date)

In [17]:
for i, d in enumerate(list(schedule)):
    print(i, d)

0 January 3rd, 2022
1 January 18th, 2022
2 February 1st, 2022
3 March 1st, 2022
4 April 1st, 2022
5 May 2nd, 2022
6 June 1st, 2022
7 July 1st, 2022
8 August 1st, 2022
9 September 1st, 2022
10 October 3rd, 2022
11 November 1st, 2022
12 December 1st, 2022
13 January 3rd, 2023

In [18]:
penultimate_date = ql.Date(15, 12, 2022)

schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       ql.DateGeneration.Forward,
                       end_of_month,
                       ql.Date(),
                       penultimate_date)

In [19]:
for i, d in enumerate(list(schedule)):
    print(i, d)

0 January 3rd, 2022
1 February 1st, 2022
2 March 1st, 2022
3 April 1st, 2022
4 May 2nd, 2022
5 June 1st, 2022
6 July 1st, 2022
7 August 1st, 2022
8 September 1st, 2022
9 October 3rd, 2022
10 November 1st, 2022
11 December 1st, 2022
12 December 15th, 2022
13 January 3rd, 2023

## Interest Rate

In [20]:
annual_rate = 0.05
day_count = ql.ActualActual()
compound_type = ql.Compounded
frequency = ql.Annual

interest_rate = ql.InterestRate(annual_rate,
                                day_count,
                                compound_type,
                                frequency)

print(interest_rate)

5.000000 % Actual/Actual (ISDA) Annual compounding

In [21]:
interest_rate.compoundFactor(2)

1.1025

In [22]:
interest_rate.discountFactor(2)

0.9070294784580498

In [23]:
# convert to new frequency

new_freq = ql.Semiannual
new_interest_rate = interest_rate.equivalentRate(compound_type, new_freq, 1)
print(new_interest_rate)

4.939015 % Actual/Actual (ISDA) Semiannual compounding